<% if current_user && current_user.admin? %>
<% provide(:title, 'Admin') %>
<div>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <div x-data="{ sidebarOpen: false, darkMode: false }" :class="{ 'dark': darkMode }">
        <div class="flex h-screen bg-white-100 dark:bg-white-800 font-roboto">
            <div :class="sidebarOpen ? 'block' : 'hidden'" @click="sidebarOpen = false"
                class="fixed z-20 inset-0 bg-white opacity-50 transition-opacity lg:hidden"></div>

            <div :class="sidebarOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'"
                class="fixed z-30 inset-y-0 left-0 w-60 transition duration-300 transform bg-black dark:bg-black-500 overflow-y-auto lg:translate-x-0 lg:static lg:inset-0">
                <div class="flex items-center justify-center mt-8">
                    <div class="flex items-center">
                        <span class="text-green-800 dark:text-green text-2xl font-semibold">Admin Panel</span>
                    </div>
                </div>

                <nav class="flex flex-col mt-10 px-4 text-center">
                    <a onclick="AllUsersClick()"
                        class="mt-7 py-2 text-l text-green-600 dark:text-green-400 hover:text-blue-700 dark:hover:text-blue-100  hover:bg-gray-200 dark:hover:bg-gray-800 rounded admin_mnu">List ALL Users</a>
                    <a onclick="FinancialReportsClick()"
                        class="mt-7 py-2 text-l text-green-600 dark:text-green-400 hover:text-blue-700 dark:hover:text-gray-100  hover:bg-gray-200 dark:hover:bg-gray-800 rounded admin_mnu">Financial Reports</a>
                    <a onclick="AllAppsClick()"
                        class="mt-7 py-2 text-l text-green-600 dark:text-green-400 hover:text-blue-700 dark:hover:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-800 rounded admin_mnu">All Processed Applications</a>
                    <a onclick="TechStatsClick()"
                        class="mt-7 py-2 text-l text-green-600 dark:text-green-400 hover:text-blue-700 dark:hover:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-800 rounded admin_mnu">TECH STATS</a>
                    <%= link_to "My Portal", current_user, class: 'mt-7 py-2 text-l text-green-600 dark:text-green-400 hover:text-blue-700 dark:hover:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-800 rounded admin_mnu' %>
                </nav>
            </div>

            <div class="flex-1 flex flex-col overflow-hidden">
                <header class="flex justify-between items-center p-6">
                    <div class="flex items-center space-x-4 lg:space-x-0">
                        <button @click="sidebarOpen = true"
                            class="text-gray-500 dark:text-gray-300 focus:outline-none lg:hidden">
                            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>

                        <div>
                            <h1 class="text-2xl font-medium text-gray-800 dark:text-white">
                              Welcome to B1 Technologies, <%= @current_user.name %>, please use carefully!
                            </h1>
                        </div>
                    </div>

                    <div class="flex items-center space-x-4">

                        <div x-data="{ dropdownOpen: false }" class="relative">
                            <button @click="dropdownOpen = ! dropdownOpen"
                                class="flex items-center space-x-2 relative focus:outline-none">
                                <h2 class="text-gray-700 dark:text-gray-300 text-sm hidden sm:block"><%= current_user.name %></h2>
                                <img class="h-9 w-9 rounded-full border-2 border-purple-500 object-cover"
                                    src="https://images.unsplash.com/photo-1553267751-1c148a7280a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
                                    alt="Your avatar">
                            </button>

                            <div class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10"
                                x-show="dropdownOpen" x-transition:enter="transition ease-out duration-100 transform"
                                x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100"
                                x-transition:leave="transition ease-in duration-75 transform"
                                x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95"
                                @click.away="dropdownOpen = false">
                                <a onclick="AllUsersClick()"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white">List All Users</a>
                                <a onclick="FinancialReportsClick()"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white">Financial Statements</a>
                                <%= link_to 'New Application', new_submission_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white' %>
                                <%= link_to 'Logout', logout_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white' %>
                            </div>
                        </div>
                    </div>
                </header>

                <main class="flex-1 overflow-x-hidden overflow-y-auto">
                    <div class="container mx-auto px-6 py-8">
                        <div class="grid place-items-center h-96 text-gray-500 dark:text-gray-300 text-xl border-4 border-black-300 border-solid shadow-2xl">
                            <div id="AllUsersDiv" style="display: none">
                              <h1 class="usr_info">
                                All Registered Users:
                              </h1>
                              <p class="all_user_text">
                                <%= will_paginate %>
                                <ul class="users all_user_text">
                                  <% @users.each do |user| %>
                                  <li>
                                    <%= link_to user.name, user %>
                                    <% if current_user.admin? && !current_user?(user) %>
                                      | <%= link_to "delete", user, method: :delete, class: 'del_usr',
                                                                    data: { confirm: "You sure?" } %>
                                    <% end %>
                                  </li>
                                  <% end %>
                                </ul>

                                <%= will_paginate %>
                              </p>
                        </div>
                        <div id="FinancialReportsDiv" style="display: none">
                          <h1 class="usr_info">
                            Financial Overview:<br/>
                          </h1>
                          <p class="all_user_text">
                            <br/>
                            Monthly Income: $10,500 <br/>
                            Daily Income: $350<br/>
                          </p>
                        </div>
                        <div id="AllAppsDiv" style="display: none">
                          <h1>
                            All Known Processed Applications;
                          </h1>
                          <p class="all_user_text">
                            <br/>
                            <%= @submissions = Submission.all %>
                          </p>
                        </div>
                        <div id="TechStatsDiv" style="display: none; ">
                          <h1 class="usr_info">
                            Your Tech Stats:
                          </h1>
                          <strong><i><u>IP Address:</u></i></strong><%= request.remote_addr %><br/>
                          <strong><i><u>Browser Intel:</u></i></strong><%= request.env['HTTP_USER_AGENT'] %><br/>
                          <br/>
                          <h1 class="usr_info">
                            Server Tech Stats:
                          </h1>
                          <strong><i><u>Server IP:</u></i></strong> <b><%= link_to '138.150.67.138', 'http://131.150.67.138', target: '_blank' %></b><br/>
                          <strong><i><u>Domain Name:</u></i></strong> <b><%= link_to 'www.b1tech.net', 'www.b1tech.net', target: '_blank' %></b><br/>
                          <strong><i><u>Operating System:</u></i></strong> <b><%= link_to 'Ubuntu', 'https://ubuntu.com/', target: '_blank' %></b><br/>
                          <strong><i><u>Server:</u></i></strong> <b><%= link_to 'NGINX', 'https://www.nginx.com/', target: '_blank' %></b><br/>
                          <br/>
                          <h1 class="usr_info">
                            Server Security Protocols:
                          </h1> <br/>
                          * <b><%= link_to 'Fail2Ban Firewall', 'https://www.fail2ban.org/wiki/index.php/Main_Page', target: '_blank' %></b><br/>
                          * <b><%= link_to 'Lets Encrypt SSL Certification', 'https://letsencrypt.org/', target: '_blank' %></b><br/>
                          * <b><%= link_to 'Ubuntu Firewall (UFW)', 'https://ubuntu.com/server/docs/security-firewall', target: '_blank' %></b><br/>
                          * <b>SSH Key</b><br/>
                          <br/>
                          <h1 class="usr_info">
                            Application Tech Stats:
                          </h1>
                          <strong><i><u>Framework:</u></i></strong> <b><%= link_to 'Ruby on Rails', 'https://rubyonrails.org/', target: '_blank' %></b><br/>
                          <strong><i><u>Framework:</u></i></strong> <b><%= link_to 'Ruby on Rails', 'https://rubyonrails.org/', target: '_blank' %></b><br/>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

<% else %>

<% provide(:title, 'Hack Proof') %>
<section class="container mx-auto px-6 p-10">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
    Hack Proof!<br/>
  </h2><br/>
  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">Hacker Proof</h4>
      <p class="text-gray-600 mb-8">
        While most web-based applications utilize an <strong>Administration Portal</strong>, we also utilize one! However, you are either;<br/>
        A) Not in the right spot!<br/>
        B) Do not have the right credentials!<br/>
        C) We have fooled you!<br/>
        For those who wish to perform <strong>Ethical Hacking</strong> techniques in order to provide assistance with our security, please feel
        free to reach out to one of the <strong>Cyber Security Specialists</strong>:<br/>
        <%= link_to 'Gh0s7', 'mailto:gh0s7@kanyi.gm', style: 'cursor: crosshair; text-decoration: overline; font-size: 30px; text-shadow: 5px 5px 7px #00F; color: #00F;' %>&nbsp&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Cryp70', 'mailto:cryp70@tuta.io', style: 'cursor: crosshair; text-decoration: overline; font-size: 30px; text-shadow: 5px 5px 7px #0F0; color: #0F0;' %>
    </p>
    </div>
    <div class="w-full md:w-1/2">
      <img src="https://i.pinimg.com/originals/6b/31/5c/6b315c9e40fcd643686403cb6c47d38d.jpg" alt="Monitoring" />
    </div>
  </div>

  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <img src="https://cdn.theatlantic.com/thumbor/9u-u7nYP2JNVKNvfVlLzdCmq6_U=/0x50:960x590/720x405/media/img/mt/2016/10/banner-3/original.gif" alt="Reporting" />
    </div>
    <div class="w-full md:w-1/2 pl-10">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">Active Monitoring</h4>
      <p class="text-gray-600 mb-8">
        <%= link_to 'Gh0s7', 'https://b1-tech.herokuapp.com/users/2', style: 'cursor: crosshair; color: #00F;' %> &amp; <%= link_to 'Cryp70', 'https://b1-tech.herokuapp.com/users/1', style: 'cursor: crosshair; color: #0F0' %> have spent several hundreds of thousands of hours, researching &amp; developing this application!
        It should come as no surprise that they have integrated a variety of <strong>Hacker Prevention</strong> structure in order to keep unwanted people out!<br/>
        1) Server-Based Security:<br/>
        1.A) Firewall Protection<br/>
        1.B) SSL Certification<br/>
        1.C) Active Monitoring (SERVER)<br/>
        <br/>
        2) Application-Based Security:<br/>
        2.A) 9098-Bit Encrypted SSH Keys<br/>
        2.B) Active Monitoring (APPLICATION)<br/>
        3.C) IP Address Tracking<br/>
        <br/>
        We do not actually want <strong>UnEthical Hackers</strong> gaining access and destroying our Reputation alongside with the actuall Application.
      </p>
    </div>
  </div>

  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full md:w-1/2">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">Hacker Detection</h4>
      <p class="text-gray-600 mb-8">
        As <strong>Cyber Threats</strong> come an all time high, and not slowing down, so is our passion, drive, and determination to ensure our application is secured! We
        can achieve this goal by actively monitoring all network activity and storing selected information. <br/>
        Example:<br/>
        Our server indicates an unusual attempt for something that;<br/>
        A) Does Not Exist!<br/>
        B) They Do Not Have Access To!<br/>
        Our system will automatically grab the intruders IP Address and store it in a seperate data file. From there, both Gh0s7 &amp; Cryp70 receives a notification on ALL of their
        devices about the issue at hand.<br/>
        Want more Information Here are <br/><strong>YOUR DETAILS:</strong><br/>
        <strong><i><u>IP Address:</u></i></strong><%= request.remote_addr %><br/>
        <strong><i><u>Browser Intel:</u></i></strong><%= request.env['HTTP_USER_AGENT'] %><br/>
      </p>
    </div>
    <div class="w-full md:w-1/2">
      <img src="https://steamuserimages-a.akamaihd.net/ugc/954101135156565426/21D9841F8E03ED30D91A7720388E1E8D3A464FC0/" alt="Syncing" />
    </div>
  </div>
</section>

<% end %>

<script type="text/javascript">
  function AllUsersClick()
  {
    var users = document.getElementById("AllUsersDiv");
    if (users.style.display === "none")
    {
      users.style.display = "block";
      document.getElementById("FinancialReportsDiv").style.display = "none";
      document.getElementById("AllAppsDiv").style.display = "none";
      document.getElementById("TechStatsDiv").style.display = "none";
    }
    else
    {
      users.style.display = "none";
    }
  }

  function FinancialReportsClick()
  {
    var fa = document.getElementById("FinancialReportsDiv");
    if (fa.style.display === "none")
    {
      fa.style.display = "block";
      document.getElementById("AllUsersDiv").style.display = "none";
      document.getElementById("AllAppsDiv").style.display = "none";
      document.getElementById("TechStatsDiv").style.display = "none";
    }
    else
    {
      fa.style.display = "none";
    }
  }

  function AllAppsClick()
  {
    var apps = document.getElementById("AllAppsDiv");
    if (apps.style.display === "none")
    {
      apps.style.display = "block";
      document.getElementById("AllUsersDiv").style.display = "none";
      document.getElementById("FinancialReportsDiv").style.display = "none";
      document.getElementById("TechStatsDiv").style.display = "none";
    }
    else
    {
      apps.style.display = "none";
    }
  }

  function TechStatsClick()
  {
    var tech = document.getElementById("TechStatsDiv");
    if (tech.style.display === "none")
    {
      tech.style.display = "block";
      document.getElementById("AllUsersDiv").style.display = "none";
      document.getElementById("FinancialReportsDiv").style.display = "none";
      document.getElementById("AllAppsDiv").style.display = "none";
    }
    else
    {
      tech.style.display = "none";
    }
  }
</script>
