<nav id="header" class="w-full z-30 py-1 shadow-lg border-b border-blue-400" style="background-color: #000">
      <div class="w-full flex items-center justify-between mt-0 px-6 py-2">
         <label for="menu-toggle" class="cursor-pointer md:hidden block">
            <svg class="fill-current text-blue-600" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
               <title>menu</title>
               <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
         </label>
         <input class="hidden" type="checkbox" id="menu-toggle">

         <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu">
            <nav>
               <ul class="md:flex items-center justify-between text-base text-blue-600 pt-4 md:pt-0">
                  <li><img src="https://i.gifer.com/7RwF.gif" class="inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2" style="height: 75px; width: 100px;"></li>
                  <li><%= link_to "B1 Technologies", root_path, class: 'inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2 nav_lnk' %></li>
                  <li><%= link_to 'Contact', contact_path, class: "inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2 nav_lnk" %></li>
                  <li><%= link_to 'About', about_path, class: "inline-block no-underline hover:text-black font-medium text-lg py-2 px-4 lg:-ml-2 nav_lnk" %></li>
               </ul>
            </nav>
         </div>

         <div class="order-2 md:order-3 flex flex-wrap items-center justify-end mr-0 md:mr-4" id="nav-content">
            <div class="auth flex items-center w-full md:w-full">
               <% if logged_in? %>
                <%= link_to 'Logout', logout_path, method: :delete, class: "bg-red-600 text-yellow-200  p-2 rounded  hover:bg-yellow-500 hover:text-red-100", style: 'margin-right: 20px;' %>
                <%= link_to 'My Profile', current_user, class: 'bg-green-600 text-black-200  p-2 rounded  hover:bg-blue-500 hover:text-gray-100' %>
               <% else %>
                <%= link_to 'Register', signup_path, class: "bg-blue-600 text-gray-200  p-2 rounded  hover:bg-blue-500 hover:text-gray-100", style: "margin-right: 20px;" %>
                <%= link_to 'Login', login_path, class: "bg-green-600 text-gray-200  p-2 rounded  hover:bg-blue-500 hover:text-gray-100" %>
               <% end %>
            </div>
         </div>
      </div>
   </nav>
